@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-light: #d9d9d9;
  --clr-dark: #1a1e25;
  --clr-accent: #5ce1e6;

  --ff-primary: 'Open Sans', sans-serif;

  --fs-h1: 2.5rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1.1rem;
  --fs-h5: 0.8rem;
  --fs-plarge: 1rem;
  --fs-p: 0.9rem;
  --fs-small: 0.8rem;

  --bs: 0 2px 10px rgba(0,0,0,0.3);
}

@media (min-width: 550px) {
  :root {
    --fs-h1: 3.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.3rem;
    --fs-h4: 1.2rem;
    --fs-h5: 0.9rem;
    --fs-plarge: 1.1rem;
    --fs-p: 1rem;
    --fs-small: 0.9rem;
  }
}

h1 {
  font-size: var(--fs-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--fs-h2);
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: var(--fs-h3);
  font-weight: 400;
}

h4 {
  font-size: var(--fs-h4);
  text-transform: uppercase;
  color: var(--clr-accent);
}

h5 {
  font-size: var(--fs-h5);
  font-weight: 700;
}

p {
  font-size: var(--fs-p);
  line-height: 1.6;
}

small {
  font-size: var(--fs-small);
}



/* universal styles */

/* thin body for mob view */

.mob {
  width: 320px;
  margin: 0 auto;
  background-color: var(--clr-light);
  border: 1px solid black;
}

body {
  background-color: var(--clr-light);
}

html {
  font-size: 16px;
  font-family: var(--ff-primary);
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  display: block;
  width: fit-content;
  margin: 0px auto;
}

.btn-wide {
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  display: block;
  text-align: center;
  border: none;
  width: 100%;
}

.btn-accent {
  color: var(--clr-accent);
  background-color: var(--clr-dark);
  font-weight: 300;
  font-size: var(--fs-p);
}

input:not([type="submit"]), textarea {
  padding: 8px;
  border-radius: 3px;
  font-size: 1rem;
  border: 1px solid grey;
  width: 100%;
  margin-bottom: 20px;
  font-family: var(--ff-primary);
}

input:not([type="submit"]):focus, textarea:focus {
  outline: none;
  border: 1px solid dodgerblue;
}

input[type="submit"] {
  font-size: var(--fs-p);
  font-family: var(--ff-primary);
  background-color: var(--clr-accent);
}

input[type="submit"]:focus {
  outline: none;
}

/* loader */

.loader {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}

.hidden {
  animation: fadeout 1s;
  animation-fill-mode: forwards;
}

#spinner {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top-color: var(--clr-accent);
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* header */

header {
  background-color: var(--clr-dark);
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h4 {
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
}

#toggle {
  color: var(--clr-accent);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 3;
}

/* mobile nav */

nav {
  display: block;
  position: fixed;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

nav ul {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: var(--clr-accent);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
}

nav a:hover {
  color: white;
}

/* open mobile nav */

.open nav {
  transform: translateY(0);
}

/* home section */

.home img {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: auto;
  width: 48%;
}

.home {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./images/trees_mob.jpg') no-repeat center;
  background-size: cover;
  padding: 45px 20px 0 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.home-content {
  width: 230px;
}

.home-content h1 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.black-line {
  height: 5px;
  width: 80%;
  margin-bottom: 5px;
  background-color: var(--clr-dark);
}

.accent-line {
  height: 5px;
  background-color: var(--clr-accent);
}

.home-content p {
  margin-top: 20px;
  color: white;
  width: 80%;
  font-size: var(--fs-small);
}

@media (min-width: 550px) {
  header {
    padding: 0 30px;
    height: 60px;
  }

  .home img {
    height: 80%;
    width: auto;
    left: 55%
  }

  .home {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./images/trees.jpg') no-repeat center;
    padding: 60px 30px 0 30px;
  }

  .home-content {
    width: 330px;
  }

  .home-content p {
    font-size: var(--fs-p);
  }
}

@media (min-width: 1000px) {
  /*header {
    padding: 0 calc((100vw - 900px) / 2);
  }*/

  #toggle {
    display: none;
  }

  nav {
    display: inline-block;
    position: static;
    transform: translateY(0);
  }
  
  nav ul {
    display: block;
  }

  nav li {
    display: inline-block;
    margin: 0 20px;
  }

  nav li:last-of-type {
    margin-right: 0;
  }

  nav a {
    font-size: var(--fs-small);
  }

  .home {
    padding: 60px calc((100vw - 900px) / 2) 0 calc((100vw - 900px) / 2);
  }
}

@media (min-width: 1400px) {
  .home {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./images/trees.jpg') no-repeat center;
  }
}

/* news section */

.news {
  padding: 30px 0;
  background-color: var(--clr-light);
}

.arrow-holder {
  margin-bottom: 20px;
  text-align: center;
}

.arrow-holder .fas {
  margin: 0 20px;
}

#carousel {
  width: 90vw;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 316px;
}

#news-card-holder {
  display: flex;
  position: absolute;
  left: 0;
  transition: left 500ms cubic-bezier(0.5, 0, 0.5, 1);
}

.news-card {
  background-color: white;
  height: fit-content;
  width: 90vw;
  margin-right: 40px;
}

.slide2 #news-card-holder {
  left: calc(-90vw - 40px);
}

.slide3 #news-card-holder {
  left: calc(-180vw - 80px);
}

.slide4 #news-card-holder {
  left: calc(-270vw - 120px);
}

#move-left, #move-right {
  cursor: pointer;
  color: var(--clr-accent);
}

.slide1 #move-left, .slide4 #move-right {
  visibility: hidden;
}

.news-card:last-of-type {
  margin-right: 0;
}

.news-card-title {
  margin-bottom: 0px;
  font-size: var(--fs-plarge);
  height: 48px;
}

.news-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.news-card-body {
  padding: 10px 20px 20px 20px;
}

.news-date {
  display: inline-block;
  color: grey;
  margin-bottom: 20px;
}

.open .news-text {
  display: block;
}

.news-card i {
  color: var(--clr-accent);
  width: 100%;
  text-align: center;
}

.circle-holder {
  margin: auto;
  text-align: center;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  margin: 30px 10px 0 10px;
  display: inline-block;
}

.active-news-circle {
  background-color: var(--clr-accent);
}

@media (min-width: 350px) {
  .news {
    padding: 30px 0;
    background-color: var(--clr-light);
  }
  
  #carousel {
    width: 280px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 316px;
  }
  
  #news-card-holder {
    display: flex;
    position: absolute;
    left: 0;
    transition: left 500ms cubic-bezier(0.5, 0, 0.5, 1);
  }
  
  .news-card {
    background-color: white;
    height: fit-content;
    width: 280px;
  }
  
  .slide2 #news-card-holder {
    left: -320px;
  }
  
  .slide3 #news-card-holder {
    left: -640px;
  }
  
  .slide4 #news-card-holder {
    left: -960px;
  }
}

@media (min-width: 1100px) {
  #carousel {
    width: 920px;
  }

  .slide1 #move-left, .slide2 #move-right {
    visibility: hidden;
  }

  .news-circle:nth-of-type(3), .news-circle:nth-of-type(4) {
    display: none;
  }
}

/* about section */

.about-text {
  padding: 30px 20px;
  background-color: var(--clr-dark);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.about-text p {
  max-width: 700px;
}

.about img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

@media (min-width: 550px) {
  .about {
    display: flex;
    flex-direction: row-reverse;
  }

  .about img {
    width: 43%;
    max-width: 500px;
    height: 400px;
    object-fit: cover;
  }
}

@media (max-width: 750px) {
  .about p {
    font-size: 0.9rem;
  }
}

/* my team */

.team {
  padding: 30px 20px;
  background-color: var(--clr-light);
}

.team-card {
  background-color: white;
  position: relative;
  margin-bottom: 30px;
  box-shadow: var(--bs);
}

.team-card:last-of-type {
  margin-bottom: 0px;
}

.team-card-head {
  background: url('./images/course.jpg') no-repeat center;
  background-size: cover;
  height: 100px;
}

.team img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 2px solid var(--clr-accent);
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.team-card-body {
  padding: 10px 20px 20px 20px;
}

.team h3 {
  text-align: center;
  margin: 80px 0 5px 0;
}

.team a {
  color: black;
}

.team h4 {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 10px;
}

.team p {
  display: none;
  margin-bottom: 20px;
}

.team .open p {
  display: block;
}

@media (min-width: 350px) {
  .team {
    padding: 30px;
  }

  .team-card {
    width: 280px;
  }

  .team-card-holder {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .team-card-holder {
    flex-direction: row;
    align-items: flex-start;
  }

  .team-card {
    margin-bottom: 0px;
  }
}

/* events section */

.events {
  background-color: white;
  padding: 30px 20px;
}

.events h2 {

  margin-bottom: 20px;
}

.map {
  width: 280px;
  margin: 0 auto 20px auto;
  height: 320px;
  /*background: url('./images/uk.png') no-repeat center;
  background-size: cover;
  position: relative;*/
}

#marker1 {
  position: absolute;
  top: 190px;
  left: 150px;
}

#marker2 {
  position: absolute;
  top: 170px;
  left: 129px;
}

#marker3 {
  position: absolute;
  top: 196px;
  left: 130px;
}

#marker4 {
  position: absolute;
  top: 145px;
  left: 132px;
}

#marker5 {
  position: absolute;
  top: 70px;
  left: 120px;
}

.event {
  display: flex;
  border-bottom: 2px solid var(--clr-accent);
  padding: 5px 0;
  cursor: pointer;
}

.event:last-of-type {
  border-bottom: none;
}

.event img {
  height: 20px;
  width: auto;
  margin-left: 10px;
}

.event-center {
  flex: 1;
  padding: 0 10px;
}

.event-center p {
  font-size: 0.75rem;
}

.event small {
  font-size: 0.7rem;
  color: grey;
}

.event-foot {
  width: 60px;
}

.marked {
  color: orangered;
}

@media (min-width: 700px) {
  .map {
    margin-bottom: 0;
  }

  .events {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .events h2 {
    width: 100%;
    margin-bottom: 50px;
  }

  .map {
    margin: 0;
  }

  .event-center p {
    font-size: 1rem;
  }
  
  .event small {
    font-size: 0.9rem;
    color: grey;
  }

  .event img {
    height: 40px;
  }

  .event-foot {
    width: 100px;
  }
}

@media (min-width: 1000px) {
  .map {
    /*width: 300px;
    height: 375px;*/
    width: 400px;
    height: 400px;
  }

  .event-list {
    width: 550px;
  }

  .event {
    padding: 15px 0;
  }
}

/* results section */

.results {
  padding: 30px 20px;
  background-color: var(--clr-light);
}

.results-container {
  display: flex;
  flex-wrap: wrap;
}

.results h2 {
  width: 100%;
}

.arrow-accent {
  width: 5px;
  background-color: var(--clr-accent);
  margin-right: 5px;
}

.arrow-dark {
  width: 5px;
  margin-top: 50px;
  background-color: var(--clr-dark);
}

.result-dates {
  width: 80px;
  padding-top: 160px;
}

.date {
  height: 50px;
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding-left: 10px;
  font-size: 0.75rem;
  font-weight: 700;
}

.timeline {
  flex: 1;
}

.timeline img {
  width: auto;
  height: 160px;
  margin: 0 auto;
  display: block;
}

.result {
  color: var(--clr-accent);
  background-color: var(--clr-dark);
  text-align: center;
  width: 150px;
  margin: 20px auto;
  box-shadow: var(--bs);
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result small {
  font-size: 0.75rem;
  color: white;
}

@media (min-width: 450px) {
  .results {
    padding: 0;
    background: url('./images/course.jpg') no-repeat center;
    background-size: cover;
  }

  .results-container {
    z-index: 1;
    width: 380px;
    margin: 0 auto;
    padding: 30px 0;
    background-color: var(--clr-light);
  }

  .arrow-accent {
    margin-left: 40px;
  }

  .date {
    font-size: 0.9rem;
  }
}

/* sponsorship section */

.sponsorship {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./images/sunrise_mob.jpg') no-repeat center;
  background-size: cover;
  padding: 30px 20px;
}

.sponsorship h2, .sponsorship-intro {
  color: white;
}

.sponsorship-intro {
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  letter-spacing: 1px;
}

.sponsorship-type {
  /*background-color: white;*/
  padding: 20px;
  margin: 30px 0;
  height: fit-content;
}

.sponsorship-type h3 {
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-align: center;

  color: white;
}

.sponsorship-type h4 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
}

.sponsorship ul {
  list-style: none;
  display: none;
}

.sponsorship .open ul {
  display: inline-block;
}

.sponsorship-type li {
  font-size: 0.85rem;
  padding: 20px 0;
  border-bottom: 1px solid var(--clr-accent);

  color: white;
}

.sponsorship-type li:last-of-type {
  border-bottom: none;
}

.sponsorship .read-more {
  color: black;
  background-color: var(--clr-accent);
  font-weight: 400;
}

@media (min-width: 400px) {
  .sponsorship-type {
    width: 340px;
    margin: 30px auto;
  }
}

@media (min-width: 800px) {
  .sponsorship-holder {
    display: flex;
    justify-content: space-evenly;
  }

  .sponsorship-type {
    margin: 30px;
  }

  .sponsorship ul {
    display: inline-block;
  }

  .sponsorship .read-more {
    display: none;
  }
}

@media (min-width: 1000px) {
  .sponsorship-type {
    width: 400px;
  }
}

/* contact section */

.contact {
  padding: 30px 20px;
  background-color: var(--clr-dark);
}

.contact h2 {
  color: var(--clr-accent);
}

.contact form {
  max-width: 550px;
  margin: 0 auto;
}

/* footer */

footer {
  background-color: rgb(22, 13, 0);
  color: white;
  padding: 30px 20px;
}

footer p {
  font-size: var(--fs-small);
  text-align: center;
}


/* seperate news page */

.news-page {
  padding: 100px 20px 30px 20px;
  background-color: white;
}

.news-page .news-card {
  background-color: white;
  margin-bottom: 30px;
  box-shadow: none;
}

.news-page .news-card img {
  box-shadow: var(--bs);
}

.news-page .news-card-body {
  padding: 10px 0 0 0;
}

.news-page .news-card-title {
  margin-bottom: 0px;
  height: auto;
}

@media (min-width: 350px) {
  .news-page .news-card {
    width: 100%;
  }

  .news-card-holder {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (min-width: 500px) {
  .news-page .news-card {
    max-width: 800px;
    padding-bottom: 20px;
    margin: 30px auto;
    border-bottom: 1px solid var(--clr-accent);
  }

  .news-page img {
    width: 200px;
    height: 200px;
  }
}


